<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <nav>
        <button type="button" class="btn save" (click)="save(hero)">Save</button>
        <button type="button" class="btn delete" (click)="delete(hero.id.valueOf())">Delete</button>
        <button type="button" class="btn back" (click)="goBack()">Back</button>
    </nav>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>

</div>
